/* resetando a margem e o padding da pagina*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #bcb0c7;
    box-shadow: 0px 3 px 10px #a85e68;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h1{
    color: white;

}

.nav-list{
    display: flex;
    align-items:center;
    
    
}

.nav-list ul{
    display: flex;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.msg-opniao{

    font-family:'Arial Narrow Bold', sans-serif;
    font-size:24px ;
    width: 674px;
    height: 493px;
    top: 255px;
    left: 394px;
    padding: 1.5rem 30rem;

}
.msg-opniao p{
    text-align: center;

}

.btn-pesquisar{
    background-color: #e80714;
    text-align: center;
    cursor:pointer;
    color:white;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 500px;
    margin-bottom:40px;
    padding: 10px 10px;
    text-decoration: none;

}

/* Deixando responsivo */

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:720px) {
    .nav-bar{
        padding: 1.5rem 4rem;

    }

    .nav-item{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
       

    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .btn-sair{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;

    }

     .open{
        display: block;
     }

}